<div class="content container">
					<header>
						<div class="animate-show" ng-show="isVisible">
							<h2>Say Hello.</h2>
							<p>Keep in touch with us to expand your horizons by understanding art from a deeper level.</p>
						</div>
						<div class="animate-show" ng-hide="isVisible">
							<h2>Thank you for subscribing. More interesting artworks are coming your way soon.</h2>
						</div>
					</header>
					<div class="box container 75%">
					
					<!-- Contact Form -->	
						<div class="animate-show"  ng-show="isVisible">
							<form name="contactForm">
								<div layout="row">
									<div flex="60"><input type="email" name="email" placeholder="Email" ng-model="user.email" /></div>
									<div flex="40"><input type="submit" class="active" ng-disabled="contactForm.$dirty && contactForm.$invalid" value="Keep me posted !" ng-click="sendUser()" /></div>
								</div>
							</form>
						</div>
						<br/>
						<div class="animate-show" layout-padding="10" layout-margin="10">
							<div layout="row" layout-align="center center">
								<div flex="33">
									<a href="http://in.pinterest.com/saikatchowdhury/thirddime-collection/" target="_blank">
							        <img src="/static/images/social/pinterest.png" style="height: 100px; width: 100px" />
							        </a>	
							    </div>
								<div flex="33">
									<a href="https://twitter.com/thirddime" target="_blank">
							        <img src="/static/images/social/twitter.png" style="height: 100px; width: 100px" />
							        </a>
							    </div>
								<div flex="33">
									<a href="https://www.facebook.com/pages/ThirdDime-Art/1518696245078520?fref=ts" target="_blank">
							        <img src="/static/images/social/facebook.png" style="height: 100px; width: 100px" />
							        </a>
							    </div>
							</div>
						</div>
					</div>
				</div>