<md-dialog aria-label="Mango (Fruit)" class="que">
  <md-content style="background-color: {{color}}">
	<div layout="row" layout-align="space-between">
		<div><md-button ng-click="goBack()">Back</md-button></div>
		<div><md-button ng-click="cancel()">Close</md-button></div>
	</div>
    <md-subheader class="md-sticky" style="background-color: {{color}}">
        <div layout="row">
            <i class="fa fa-paint-brush"> </i>
                <div class="qStyle">
                    Which one is a painting?
                </div>
        </div>
      </md-subheader>
        <div layout="row" layout-align="end center" style="font-size: .77em">Click on an image to select.</div>
  	<md-tabs md-selected="data.selectedIndex">
      <md-tab id="tab1" aria-controls="tab1-content">
        Item One
      </md-tab>
      <md-tab id="tab2" aria-controls="tab2-content">
        Item Two
      </md-tab>
      <md-tab id="tab3" aria-controls="tab3-content">
        Item Three
      </md-tab>
      <md-tab id="tab4" aria-controls="tab4-content">
        Item four
      </md-tab>
    </md-tabs>
    <ng-switch on="data.selectedIndex" class="tabpanel-container">
        <div role="tabpanel" id="tab1-content" aria-labelledby="tab1" ng-switch-when="0" md-swipe-left="next()" md-swipe-right="previous()" layout="row" layout-align="center center">
        	<img style="margin: 10px; max-width: 100%" src="/static/images/real1.jpg" pagespeed_url_hash="3617274378" onload="pagespeed.CriticalImages.checkImageForCriticality(this)" ng-click="answer8()">
        </div>
        <div role="tabpanel" id="tab2-content" aria-labelledby="tab2" ng-switch-when="1" md-swipe-left="next()" md-swipe-right="previous()" layout="row" layout-align="center center">
        	<img style="margin: 10px; max-width: 100%" src="/static/images/real2.jpg" pagespeed_url_hash="3617274378" onload="pagespeed.CriticalImages.checkImageForCriticality(this)" ng-click="answer8()">
        </div>
        <div role="tabpanel" id="tab3-content" aria-labelledby="tab3" ng-switch-when="2" md-swipe-left="next()" md-swipe-right="previous()" layout="row" layout-align="center center">
          <img style="margin: 10px; max-width: 100%" src="/static/images/real3.jpg" pagespeed_url_hash="3617274378" onload="pagespeed.CriticalImages.checkImageForCriticality(this)" ng-click="answer8()">
        </div>
        <div role="tabpanel" id="tab4-content" aria-labelledby="tab4" ng-switch-when="3" md-swipe-left="next()" md-swipe-right="previous()" layout="row" layout-align="center center">
          <img style="margin: 10px; max-width: 100%" src="/static/images/real4.jpg" pagespeed_url_hash="3617274378" onload="pagespeed.CriticalImages.checkImageForCriticality(this)" ng-click="answer8()">
        </div>
    </ng-switch>
    <div class="after-tabs-area" layout="row" layout-sm="column" layout-margin layout-align="left center">
        
    </div>
  </md-content>
</md-dialog>