<md-dialog aria-label="Mango (Fruit)" class="funda">
	<md-content style="background-color: {{color}}; color: white;">
		<div layout="row" layout-align="end"><md-button ng-click="fundaRoot(false)">Close</md-button></div>
		<br/>
		<br/>
		<div layout="row" layout-align="center center">
			<div ng-show="result"> <h1>CORRECT !</h1></div>
			<div ng-hide="result"> <h1>It is the Cypress tree</h1></div>
		</div>
		<div layout="row" layout-align="center center" align="right">
			<span flex="15"><i class="fa fa-quote-left"></i></span>
			<span flex="85"></span>
		</div>
		<div layout="row" layout-align="center center">
			<span flex="15"></span>
			<span flex="70">
				Renaissance artists used symbolic objects to communicate with an audience that was largely illiterate. During the Victorian era, the cypress with its dark branches and tall columnar shape was a symbol of the cemetery and death and was widely planted in European as well as Middle Eastern graveyards. In the ‘Starry Night’ Van Gogh invoked the above symbolism.
			</span>
			<span flex="15"></i></span>
		</div>
		<div layout="row" layout-align="center center">
			<span flex="85"></span>
			<span flex="15"><i class="fa fa-quote-right"></i></span>
		</div>
	</md-content>
	<div class="md-actions" layout="row">
	    <md-button ng-click="fundaRoot(true)" class="md-primary">
	      Next
	    </md-button>
    </div>
</md-dialog>
